*
!*/
!.gitignore
!/**/.gitignore

!/**/*.py
!/**/*.ipynb

!/deployment/**/*.*
!/scripts/**/*.sh
!/examples/**/*.sh

/data
!/data

!/views/**/*.html
!/public/**/*.*

!Dockerfile
!.gitlab-ci.yml
!README.md
!requirements.txt
!.gitmodules
!.env
!.pylintrc
!.vscode/**/*.json
!CHANGELOG.md
!pyproject.toml
!.pre-commit-config.yaml

!/deploy/**/*.*
!.gitlab-ci*
!.releaserc

test/

.env

src/examples/